.allnotes {
    border: 2px solid darksalmon;
    width: 1100px;
    height: 400px;
    margin-top: 20px;
    overflow: scroll;
}

.notedetail {
    border: 2px dashed cornflowerblue;
    width: 1000px;
    height: 100px;
    margin: 10px auto;
}

h5 {
    text-align: right;
    margin: 5px;
}

.notecontent {
    margin-left: 5px;
}